<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
   
   <context:property-placeholder 
location="classpath:mybatis/props/jdbc.properties"/>
	
	<!-- 로그인이 필요한 작업들의 경우 인터셉터를 거침 (정성훈 2016.06.28)-->
	<context:annotation-config/>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/mypageCheck.inc"/>
			<bean class="spring.intercept.LoginIntercepter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<bean id="ds" 
	class="org.apache.commons.dbcp.BasicDataSource" 
	destroy-method="close">
		<property name="driverClassName" 
			value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" 
			value="${jdbc.user}"/>
		<property name="password" 
			value="${jdbc.pwd}"/>
	</bean>
	
	<bean id="factory"
	class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds"/>
		<property name="mapperLocations"
		  value="classpath:mybatis/mapper/*.xml"/>
	</bean>
	
	<bean id="ss"
	class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="factory" index="0"/>
	</bean>
	
	<!-- 회원DAO (장준수) -->
	<bean id="aDao" class="mybatis.dao.MemberDAO"/>
	<!-- 자유게시판DAO (장준수,박상원) -->
	<bean id="fDao" class="mybatis.dao.FreeBoardDAO"/>
	<!-- 경기DAO추가 생성 (오우석) -->
	<bean id="mDao" class="mybatis.dao.MatchDAO"/>
	<!-- 팀DAO추가 생성 (정성훈) -->
	<bean id="tDao" class="mybatis.dao.TeamDAO"/>
	<!-- 배팅DAO추가 생성 (오우석) -->
	<bean id="bDao" class="mybatis.dao.BatDAO"/>
	<!-- 공지사항 (PSW) -->
	<bean id="nDao" class="mybatis.dao.NoticeDAO"/>
		
</beans>



