@charset "utf-8";
@import "reset.css";

/*****************************************************
기본 레이아웃 
*****************************************************/
#wrap {width:100%; height:100%; margin:auto;}

/* 상단영역 */
#header {position:relative; width:970px; height:140px; margin:auto; border-bottom: 1px solid black;}
#header h1 {width:181px; height:59px;}
#header .gnb {position:absolute; bottom:0; width:100%; height:50px; overflow:hidden;}
#header .gnb li {float:left; width:194px; height:100%; background:#ffffff; border-top: 1px solid black;}
#header .gnb li a {display:block; width:auto; height:100%; text-align:center;}
#header .gnb li a .menu {display:inline-block; margin-top:14px; height:35px; line-height:20px; 
color:#000; font-weight:bold; font-size:16px; padding-left:40px; background:url(../img/gnb_bult.png) no-repeat;} 
#header .gnb li a .menu:HOVER{font-size: 20px;}
#header .gnb li a .m01 {background-position:0 0}
#header .gnb li a .m02 {background-position:0 -32px}
#header .gnb li a .m03 {background-position:0 -62px}
#header .gnb li a .m04 {background-position:0 -92px}
#header .gnb li a .m05 {background-position:0 -126px}
#header .gnb li:first-child a {border-left:none;}

#loginTable, #header h1{
	margin-top: 10px;
}
#loginTable td{
	padding: 2px;
	text-align: right;
}
#loginTable td a:HOVER{
	text-decoration: underline;
}


/* 푸터영역 */
#footer {width:auto; padding:40px 0 50px; background:#eee; margin-top:100px;}
#footer .footer_area{width:900px; margin:auto;}
#footer .foot_guide {overflow:hidden; padding-bottom:20px;}
#footer .foot_guide li {float:left; padding:0 10px; border-left:1px solid #999;}
#footer .foot_guide li:first-child {border-left:none; padding-left:0;}
#footer .foot_guide li a {color:#777; font-size:12px;}
#footer .foot_guide li a:hover {color:#ff4f00;}
#footer address {font-size:12px; color:#777; padding-bottom:6px;}
#footer .copyright {font-size:11px;}

/* 컨텐츠영역 */
#contents {width:970px; height:auto; margin:auto; margin-top: 50px;}
#contents_sub {width:900px; height:auto; margin:auto; padding-top:30px;}
#contents_sub div{
	text-align: center;
	border: 1px solid black;
}
#contents_sub div.gameInfo{
	height: 35em;
}
#contents_sub div.noticeBoard, #contents_sub div.freeBoard{
	height: 20em;
}
.sub_tit {background:url(../img/sub_title.png) no-repeat; text-indent:-9999px;}
.tit_src {font-size:15px; color:#222; padding-bottom:40px; line-height:1.3em;}

h2 {margin-bottom:20px;}
h2.tit01 {width:210px; height:30px; background-position:0 0 !important;} 일반개인회원가입
h2.tit02 {width:135px; height:30px; background-position:0 -50px !important;} 회원로그인
h2.tit03 {width:135px; height:30px; background-position:0 -240px !important;} 봉사이야기

h3.tit01 {width:290px; height:70px; background-position:0 -80px !important;} 회원로그인_개인
h3.tit02 {width:290px; height:70px; background-position:0 -160px !important;} 회원로그인_단체
h3.tit03 {width:55px; height:20px; background-position:0 -30px !important;} 약관동의
h3.tit04 {width:100px; height:20px; background-position:-55px -30px !important;} 개인정보취급방침

/*****************************************************
입력폼
*****************************************************/
input {margin:0; padding:0; font-size:13px; font-family:나눔고딕, nmGothic, '맑은 고딕', malgunGothic, 굴림, gulim, sans-serif;
text-align:left; text-decoration:none; font-weight:normal; vertical-align:middle;}
label{padding-left:5px; padding-right:10px; vertical-align:middle;}
label:hover {color:#347bce;}
label.hidden {display:none;}

input[type=text] {border:1px solid #999; height:20px; background:#fff; text-indent:5px; vertical-align:middle;}
input[type=text]:hover {border:1px solid #ff5000; height:20px; background:#fff;}
input[type=password] {border:1px solid #999; height:20px; background:#fff; text-indent:5px; vertical-align:middle; width: 148px;}
input[type=password]:hover {border:1px solid #ff5000; height:20px; background:#fff;}
input[type=text]:FOCUS {border:1px solid #ff5000; height:20px; background:#fff;}
input[type=password]:FOCUS {border:1px solid #ff5000; height:20px; background:#fff;}
input[type=checkbox] {vertical-align:middle;}
input[type=radio] {vertical-align:middle;}
textarea {border:1px solid #999; line-height:1.3em;}
.textarea {width:auto; height:150px; padding:10px; border:1px solid #999; line-height:1.3em; overflow:hidden; overflow-y:auto;}
.ck_agree {text-align:right; margin-top:7px;}

input.join[type=text] {border:1px solid #ccc; height:22px; background:#fff; text-indent:5px; vertical-align:middle;}
input.join[type=text]:hover {border:1px solid #999; height:22px; background:#f9f9f9}
input.join[type=password] {border:1px solid #ccc; height:22px; background:#fff; text-indent:5px; vertical-align:middle;}
input.join[type=password]:hover {border:1px solid #999; height:22px; background:#f9f9f9}


/*****************************************************
버튼 
*****************************************************/
.btnArea_right {float:right !important;}
.btnArea_center {text-align:center;}
.btnArea_left {float:left !important;}

.btn {display:inline-block; background:url(../img/btn.png) no-repeat; text-indent:-9999px;}
.btn a {display:block; width:100%; height:100%;}
.b_login {width:86px; height:56px; background-position:0 0;} /* 로그인 */
.b_search {width:156px; height:27px; background-position:-100px 0 !important;} /* 아이디비번찾기 */
.b_agree {width:100px; height:30px; background-position:0 -70px !important;} /* 동의 */
.b_noagree {width:121px; height:30px; background-position:-100px -70px !important;} /* 동의안함 */
.b_check {width:63px; height:30px; background-position:0 -110px !important;} /* 확인 */
.b_cancel {width:63px; height:30px; background-position:-100px -110px !important;} /* 취소 */
.b_bdcheck {width:57px; height:24px; background-position:0 -150px !important;} /* 중복학인 */
.b_zipcode {width:77px; height:24px; background-position:-60px -150px !important;} /* 우편번호 */
.b_confirm {width:57px; height:24px; background-position:-140px -150px !important;} /* 인증 */

/*****************************************************
테이블 타입 
*****************************************************/
.table_type01 {border:none; border-top:2px solid #ddd;}
.table_type01 th {border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:10px 0 10px 25px; font-weight:bold; background:#efefef;}
.table_type01 td {border-bottom:1px solid #ddd; padding:10px;}
.table_type01 td p .btn {position:relative; top:-4px;}

/*****************************************************
게시판 타입 
*****************************************************/
.board_type01 {}
.board_type01 th {height:38px; background:#eee; border-top:2px solid #d4d4d4; text-align:center; font-weight:bold; font-size:14px;}
.board_type01 tr:hover {background:#f9f9f9;}
.board_type01 td {padding:10px 0; border-bottom:1px solid #eee; text-align:center; vertical-align:middle;}
.board_type01 td.tit {text-align:left; padding:0 20px;}
.board_type01 td.tit strong {display:block; color:#333; padding-bottom:5px;}
.board_type01 td.thum_img {width:129px; height:80px;}
.board_type01 td.thum_img img {width:100%; height:100%;}

/*****************************************************
탭 타입 
*****************************************************/
.tab_type01 {padding:10px 0;}
.tab_type01 ul {overflow:hidden;}
.tab_type01 ul li {float:left; width:298px; border:1px solid #767676; border-right:1px solid #fff; background:#767676; height:35px;}
.tab_type01 ul li a {display:block; width:100%; height:100%; line-height:35px; text-align:center; color:#fff; font-weight:bold; font-size:16px;}
.tab_type01 ul li.active {background:#fff; border:1px solid #ff4f00; border-bottom:1px solid #fff;}
.tab_type01 ul li.active a {color:#ff4f00;}

.tab_cont {padding-top:30px; line-height:1.5em;}

/*****************************************************
기타 공통스타일
******************************************************/
.fl {float:left !important;}
.fr {float:right !important;}
.fclear {content:''; display:block; height:0 !important; float:none; clear:both;}
.tleft {text-align:left !important;}
.tcenter {text-align:center !important;}
.tright {text-align:right !important;}
.blind {display:none;}
.ellip {display:inline-block; width:95%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.req {display:inline-block; width:12px; height:8px; background:url(../img/bult.png) no-repeat; text-indent:-9999px; margin-left:-12px;}
.guide_txt {display:block; color:#999; font-size:11px; padding-bottom:7px; line-height:1.3em;}