select * from team;
--팀정보 등록
insert into team(TEAM_CODE,NAME,RANK,WIN,LOSE,TEAM_AVG,TEAM_ERA)
values (team_seq.nextval,'NCDinos',2,'36','19','','');
insert into team(TEAM_CODE,NAME,RANK,WIN,LOSE,TEAM_AVG,TEAM_ERA)
values (team_seq.nextval,'NexenHeros',3,'30','28','','');
insert into team(TEAM_CODE,NAME,RANK,WIN,LOSE,TEAM_AVG,TEAM_ERA)
values (team_seq.nextval,'LGTwins',4,'27','28','','');
commit;
