CREATE table "MEMBER" (
    "ID"         VARCHAR2(20) NOT NULL,
    "PASSWORD"   VARCHAR2(20) NOT NULL,
    "PHONE"      VARCHAR2(20) NOT NULL,
    "ADDRESS"    VARCHAR2(20) NOT NULL,
    "COIN"       NUMBER(38) NOT NULL,
    constraint  "MEMBER_PK" primary key ("ID")
)
/

--팀 테이블
CREATE table "TEAM" (
    "TEAM_CODE"  NUMBER NOT NULL,
    "NAME"       VARCHAR2(20) NOT NULL,
    "RANK"       NUMBER NOT NULL,
    "WIN"        VARCHAR2(20),
    "LOSE"       VARCHAR2(20),
    "TEAM_AVG"   VARCHAR2(20),
    "TEAM_ERA"   VARCHAR2(20),
    constraint  "TEAM_PK" primary key ("TEAM_CODE")
)
/

--매치테이블
CREATE table "MATCH" (
    "MATCH_CODE" NUMBER NOT NULL,
    "HOME_CODE"  NUMBER NOT NULL,
    "AWAY_CODE"  NUMBER NOT NULL,
    "DAY"        DATE NOT NULL,
    "RESULT"     NUMBER,
    constraint  "MATCH_PK" primary key ("MATCH_CODE")
)
/

ALTER TABLE "MATCH" ADD CONSTRAINT "MATCH_FK" 
FOREIGN KEY ("HOME_CODE")
REFERENCES "TEAM" ("TEAM_CODE")

/
ALTER TABLE "MATCH" ADD CONSTRAINT "MATCH_FK2" 
FOREIGN KEY ("AWAY_CODE")
REFERENCES "TEAM" ("TEAM_CODE")

/


--배팅 코드
CREATE table "BATTING" (
    "BAT_CODE"   NUMBER NOT NULL,
    "ID"         VARCHAR2(20) NOT NULL,
    "MATCH_CODE" NUMBER NOT NULL,
    "RE_RESULT"  NUMBER,
    "AC_RESULT"  NUMBER,
    "BAT_COST"   NUMBER,
    "BAT_AVG"    VARCHAR2(20),
    constraint  "BATTING_PK" primary key ("BAT_CODE")
)
/

ALTER TABLE "BATTING" ADD CONSTRAINT "BATTING_FK" 
FOREIGN KEY ("ID")
REFERENCES "MEMBER" ("ID")

/
ALTER TABLE "BATTING" ADD CONSTRAINT "BATTING_FK2" 
FOREIGN KEY ("MATCH_CODE")
REFERENCES "MATCH" ("MATCH_CODE")

/




